<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="main.js"></script>
</head>

<body>
    <h1>
        <%=data.name%>
    </h1>
    <%let arrImage = showImage(data.static)%>
    <%arrImage.forEach((element,index)=>{%>
        <img style="max-width:200px;max-height:200px;" src="<%=`/${element}`%>" alt="project image <%=index%>">
    <%})%>
    <h3>Started by:
        <%=data.User.full_name%>
    </h3>
    <h3>Funding Status: Rp
        <%=data.nominal_now%>/Rp
            <%=data.nominal_needed%>
    </h3>
    <h5>Description:<br><%=data.description%>
    </h5>
    <a href="/projects">Back</a><br>


    <%if(session && session.id == data.User.id){%>
        <a href="/projects/edit/<%=data.id%>">edit</a>|<a href="/projects/delete/<%=data.id%>">delete</a>
        <%}%>

            <h3>Fund This Project!</h3>
            <%if(session){%>
                <form action="/projects/fund/<%=data.id%>/<%=session.id%>" method="post">
                    <input type="number" name="fund">
                    <input type="submit" value="Fund!">
                </form>
                <%}else{%>
                    <a href="/user/login">Log In</a>
                    <%}%>

</body>

</html>